{{#if successMas}}
<div class="alert alert-success text-center"> {{successMas}}
</div>

<!--  
{{/if}}
<div style="margin-bottom: 40px;"> <!search box start-->
<!--<form class="search-box" action="" method="" style="">
      <input type="text" name="" value="" placeholder="Search">
      <button class="search-btn" type="button" name="button">
       <i class="fas fa-search"></i>
      </button>
    </form>-->
<!--search box end
    </div>
    <div style="padding-top: 50px;">
{{#each products}}
<div class="row">
    {{#each this}}
    <div class="col-sm-4">
        <div class="card">
            <div class="text-center">
                <img src="{{this.imgePath}}" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{this.productName}}</h5>
                <p class="card-text">
                    form: {{this.information.utilisation}} <br>
                    dosage :{{this.information.Quantum}} <br>
                    quantity : {{this.information.quantite}} <br>
                    Advice :{{this.information.consigne}} </p>
                <div>
                    <div class="price float-left"> {{this.price}}DA</div>
                   
                   {{#if ../../chekuse}}
                      <a href="/addTocart/{{this._id}}/{{this.price}}/{{this.productName}}" class="btn btn-info float-right" >Demand</a>
                      
                   {{else}}
                       <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#exampleModalCenter">
                          Demand
                      </button> 
                   {{/if}}
                    
               
                </div>
            </div>
        </div>
    </div>



    {{/each}}
</div>

{{/each}}-->

<!--modal-->

<!--<div class="site-wrap">


    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="/" class="js-logo-clone">Health Care</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>     
                <li class="has-children">
                  <a href="#"><i class="fas fa-user"></i> User</a>
                  <ul class="dropdown">
                     {{#if chekuse}}
          {{#if checkProfile}}
            <a href="/users/logout"> <i class="fas fa-sign-out-alt"></i> Logout</a>
             {{else}}
            <a href="/users/profile"><i class="fas fa-address-card"></i> Profile</a>
             <a href="/users/profileVendor"><i class="fas fa-address-card"></i> Profile profileVendor</a>
              <a href="/users/logout"> <i class="fas fa-sign-out-alt"></i> Logout</a>
             
          {{/if}}
            
          {{else}}
            <a href="/users/signup"> <i class="fas fa-user-plus"></i> Signup</a>
            <a href="/users/signin"><i class="fas fa-sign-in-alt"></i> Signin</a>
            <a href="/users/publishMedicines"><i class="fas fa-upload"></i>Publish-Medicines</a>
            <a href="/users/signinofpublish"><i class="fas fa-sign-in-alt"></i> Signin of Publish</a>
            
          {{/if}}
                    
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <a href="/Medicines" class="fas fa-pills">
              <span class="badge badge-pill badge-danger"></span>
              <span class="number">{{totalProducts}}</span>
            </a>
          
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
          <div>
           
          </div>
        </div>
      </div>
    </div>
-->
<div class="site-blocks-cover"
  style="background-image: url('/images/un-nouveau-medicament-millions-dollars-mis-sur-marche-aux-usa.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
        <div class="site-block-cover-content text-center">
          <h2 class="sub-title">New Medicine Everyday</h2>
          <h1>Welcome To Health care particular</h1>
          <p>
            <a href="shop" class="btn btn-primary px-5 py-3">Shop Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row align-items-stretch section-overlap">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="banner-wrap bg-primary h-100">
          <a href="#" class="h-100">
            <h5>Free <br> Shopping</h5>
            <p>
              With health care
              <strong>You can search, buy and sell the medicines witout paying.</strong>
            </p>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="banner-wrap h-100">
          <a href="#" class="h-100">
            <h5>All <br> the medecines</h5>
            <p>
              With health care
              <strong>You can found all the medicines available and the not available .</strong>
            </p>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="banner-wrap bg-warning h-100">
          <a href="#" class="h-100">
            <h5>work<br>24/24 H </h5>
            <p>
              With health care
              <strong> you can buy your medecines in evry time that you want.</strong>
            </p>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="title-section text-center col-12">
        <h2 class="text-uppercase">New Products</h2>
      </div>
    </div>
    {{#each products}}
    <div class="row">
      {{#each this}}
      <div class="col-sm-4">
        <div class="card">
          <div class="text-center">
            <img src="{{this.imgePath}}" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{this.productName}}</h5>
            <p class="card-text">
              Medicine Name: {{this.information.utilisation}} <br>
              Form :{{this.information.consigne}} </p>
            Dosage :{{this.information.Quantum}} <br>
            Quantity : {{this.information.quantite}} <br>

            <div>
              <div class="price float-left"> {{this.price}}DA</div>

            </div>
          </div>
        </div>
      </div>

      {{/each}}
    </div>

    {{/each}}
    <div class="row mt-5">
      <div class="col-12 text-center">
        <a href="shop" class="btn btn-primary px-4 py-3">View All Products</a>
      </div>
    </div>

  </div>
</div>




<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="title-section text-center col-12">
        <h2 class="text-uppercase">The Team</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 block-3 products-wrap">
        <div class="nonloop-block-3 no-direction owl-carousel">

          <div class="testimony">
            <blockquote>
              <img src="/images/lina.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
              <p>&ldquo; member of web devlopment groupe that create this web site,she's 21 years old lived in ras el
                oued, she study in mouhamed el bachir el ibrahimi bourdj bou arreridj.&rdquo;</p>
            </blockquote>

            <p>&mdash; Touati nesrine</p>
          </div>

          <div class="testimony">
            <blockquote>
              <img src="/stylesheets/images/person_2.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
              <p>&ldquo; member of web devlopment groupe that create this web site,she's 21 years old lived in yachir,
                she study in mouhamed el bachir el ibrahimi bourdj bou arreridj.&rdquo;</p>
            </blockquote>

            <p>&mdash; Amzali idir</p>
          </div>

          <div class="testimony">
            <blockquote>
              <img src="/images/2.png" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
              <p>&ldquo; member of web devlopment groupe that create this web site,she's 20 years old lived in ras el
                oued, she study in mouhamed el bachir el ibrahimi bourdj bou arreridj.&rdquo;</p>
            </blockquote>

            <p>&mdash; Boumaiza douniazad</p>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-secondary bg-image" style="background-image: url('/stylesheets/images/bg_2.jpg');">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('/stylesheets/images/bg_1.jpg');">
          <div class="banner-1-inner align-self-center">
            <h2>Partucular Health care</h2>
            <p>Is a big part of health care that give the people a big service to buy and sell theirs medicines.
            </p>
          </div>
        </a>
      </div>
      <!--
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('/stylesheets/images/bg_2.jpg');">
              <div class="banner-1-inner ml-auto  align-self-center">
                <h2>Rated by Expert</h2>
                <p>Moussaoi boubaker,Our teacher whom help and courage use to create this web site.
                </p>
              </div>

            </a>
          </div>
          -->
    </div>
  </div>
</div>



</div>








<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        You can't demand any medication before you sign in
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
        <a href="/users/signin" class="btn btn-info"> sign in </a>
      </div>
    </div>

  </div>

</div>
</div>